:root {
    --font-color-1:  #325494;
    --font-color-2: #868686;
    --font-color-3: white;
    --font-color-4: rgb(58, 58, 58);
    --background-color-1:  #325494;
    --background-color-2: white;
    --background-color-3: #F1F8FF;
    --border-color-1: rgba(255, 255, 255, 0.2);
    --border-color-2: rgba(255, 255, 255, 0.15);
  }

  *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }


  body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color-3);
    font-weight: 1000;
    font-size: 18px;
}
