  
:root{
  --bg-primary: #325494;
}

  header {
    background-image: url("/images/hero-man.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    padding: 20px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    transition: background-color 0.3s;
}


  #navbar {
    background-color: transparent; 
    transition: background-color 0.3s; 
  }
  
  #navbar.scrolled {
    background-color: var(--bg-primary);
  }

  
  .logo {
    flex: 1;
    margin: 0 10%;
  }
  
  .menu-items {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10%;
  }
  
  nav a {
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: orange;
    border-radius: 5px;
  }
  
  nav .join-us {
    background-color: orange;
    color: white;
    border-radius: 5px;
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 10%;
    height: 70vh;
    text-align: left;
  }
  
  .text h2 {
    background-color: var(--bg-primary);
    border-radius: 4px;
    padding: 2px 8px;
    width: fit-content;
  }
  
  .text h1 {
    font-size: 4rem;
    margin: 10px 0;
  }
  
  .text p {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    font-size: 1.5rem;
    margin: 20px 0;
    border-radius: 5px;
  }
  
  .btn {
    display: flex;
    gap: 10px;
  }
  
  .btn a {
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    transition: box-shadow 0.3s;
  }
  
  .btn a:first-child {
    background-color: var(--bg-primary);
  }
  
  .btn a:hover {
    box-shadow: 1px 1px 10px white;
  }
  
  