.our-classes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 45px;
}

.our-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.our-content h1 {
    color: blue;
    font-weight: 800;
}

.line {
    margin-top: -30px;
    background-color: orange;
    padding: 5px;
    border-radius: 3px;
    width: 7%;
}

.our-btn {
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
}

.our-btn a {
    position: relative;
    background-color: blue;
    color: white;
    padding: 10px 16px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.our-btn a:hover {
    background-color: orange;
}

.our-btn a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -10px; 
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid orange; 
    opacity: 0;
    transform: translateY(10px); 
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.our-btn a:hover::after {
    opacity: 1;
    transform: translateY(0); 
}

.out-classes-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.our-classes-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.our-classes-col-6 {
    flex: 0 0 50%;
    padding: 20px;
    box-sizing: border-box;
}

.our-classes-col-6 .section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
}

.our-classes-col-6 .section h1 {
    margin-bottom: 15px;
    font-size: 24px;
}

.our-classes-col-6 .section p {
    margin-bottom: 15px;
    font-size: 16px;
}

.our-classes-col-6 img {
    max-width: 100%;
    border-radius: 10px;
}

.our-classes-col-6 h2 {
    text-align: center;
}

a {
    cursor: pointer;
}

.fade-in {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
