:root{
    --bg-primary: #325494;
  }

.review {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 45px;
    background-color: #e0e8f9;
}

.review-content {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.review-content h1 {
    color: var(--bg-primary);
    font-weight: 800;
}

.review-card {
    display: flex;
    gap: 10%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.review-profile{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    gap: 8px;
}

.review-profile img{
    border-radius: 100%;
    width: 70px;
}
.review-profile-card{
    display: flex;
    align-items: center;
    gap: 15px;
}

.review-profile-card-box{
    color: white;
    text-align: center;
    align-content: center;
    width: 500px;
    height: 100px;
    background-color: var(--bg-primary);
}

.review-profile-content{
    display: flex;
    align-items: baseline;
    gap: 7px;
    flex-direction: column;
}