.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 45px;
    background-color: white;
    color: var(--font-color-4);
}

.contact-content {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


.contact-content .title {
    color: var(--font-color-1);
    font-weight: 900;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form-text{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 1.3rem;
}

.contact-form-text-title{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: rgb(84, 84, 84);
}

.contact-form-text-content{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: rgb(84, 84, 84);
}

.contact-input-box{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.input{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact-input-box input,textarea{
    background-color: #e0e8f9;
    padding: 1rem;
    border-radius: 0.3rem;
}

.contact-input-box input {
    width: 25rem;
}

.contact-input-box textarea{
    height: 7rem;
}

.contact-mid-title{
    font-size: 1.7rem;
    color: rgb(84, 84, 84);
}

.map{
    display: flex;
}

iframe{
    width: 30rem;
    height: 20rem;
}
/* Responsive */
@media (max-width: 576px){
    .contact{
        display: flex;
        align-items: center;
        align-items: center;
    }

    .contact p{
        text-align: center;
    }

    .contact-input-box{
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    iframe{
        width: 30rem;
        height: 30rem;
    }
}